
{{#each this}}
  <div class="row m-4">
    <div class="col-8">
      <p class="text-start"><i class="far fa-comment"></i> {{comment_text}} </p>
    </div>
    <div class="col">
      <p class="text-end">{{user.username}} on {{format_date created_at}}   </p>
    </div>
  </div>
<hr>
{{/each}}