<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>

<form class="post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea id="post-contents" name="post-contents" rows="4" cols="50" value="{{post.contents}}">
</textarea>
    </div>
    <div class="button-row">

        <button type="button" class="delete-post-btn">Delete post</button>
    <button type="submit" class="btn">Save</button>

</div>
  </form>
</article>



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>