<div class="row">
  <div class="col m-5">
    <a class="btn btn-light" href="/dashboard"> &larr; Back to dashboard</a>
      <form class="edit-post-form pt-5">
        <div class="mb-3">
          <label for="post-title" class="form-label">Blog title</label>
          <input type="text" class="form-control" name="post-title" value="{{post.title}}">
        </div>
        <div class="mb-3">
          <label for="post-contents" class="form-label">Content</label>
          <textarea class="form-control" name="post-contents" rows="12">{{post.contents}}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger delete-post-btn">Delete post</button>
        <button type="submit" class="btn btn-primary">Save post</button>
      </form>
  </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>