
<div class="row p-2 justify-content-center">
  <div class="col-5 m-0 p-0">
    <form id="login-tab" class="form login-tab login-form">
      <h2 class="display-5 text-center p-5"> Welcome back! </h2>
    <div class="row mb-3">
      <label for="email" class="m-0 p-0 col-form-label">Email</label>
      <input type="email" class="form-control" id="email-login">
    </div>
    <div class="row mb-3">
      <label for="password" class="m-0 p-0 col-form-label">Password</label>
      <input type="password" class="form-control" id="password-login">
    </div>
    <div class="row mb-3">
    <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Login</button>
    </div>
    <div class="row mb-3">
      <a class="nav-link text-center" href="#" onclick="openTab('signup-tab')">Or signup</a>
      </div>
    </form>

    <form id="signup-tab" class="form signup-tab signup-form" style="display:none">
      <h2 class="display-5 text-center p-5"> Nice to meet you! </h2>
    <div class="row mb-3">
      <label for="email" class="m-0 p-0 col-sm-2 col-form-label">Email</label>
      <input type="email" class="form-control" id="email-signup">
    </div>
    <div class="row mb-3">
      <label for="email" class="m-0 p-0 col-sm-2 col-form-label">Username</label>
      <input type="text" class="form-control" id="username-signup">
    </div>
    <div class="row mb-3">
      <label for="password" class="m-0 p-0 col-sm-2 col-form-label">Password</label>
      <input type="password" class="form-control" id="password-signup">
    </div>
      <div class="row">
    <label for="avatar" class="m-0 p-0">Choose an emoji avatar</label>
    </div>
 <div class="mb-3 text-center">
      <input type="radio" class="btn-check" name="avatar-signup" id="1" value="&#x1F610" autocomplete="off">
        <label class="btn btn-light btn-lg" for="1">&#x1F610</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="2" value="&#x1F620" autocomplete="off">
        <label class="btn btn-light btn-lg" for="2">&#x1F620</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="3" value="&#x1F633" autocomplete="off">
        <label class="btn btn-light btn-lg" for="3">&#x1F633</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="4" value="&#x1F644" autocomplete="off">
        <label class="btn btn-light btn-lg" for="4">&#x1F644</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="5" value="&#x1F914" autocomplete="off">
        <label class="btn btn-light btn-lg" for="5">&#x1F914</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="6" value="&#x1F920" autocomplete="off">
        <label class="btn btn-light btn-lg" for="6">&#x1F920</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="7" value="&#x1F921" autocomplete="off">
        <label class="btn btn-light btn-lg" for="7">&#x1F921</label>
      <input type="radio" class="btn-check" name="avatar-signup" id="8" value="&#x1F92D" autocomplete="off">
        <label class="btn btn-light btn-lg" for="8">&#x1F92D</label>
    </div>
      <div class="row mb-3">
          <button type="submit" class="btn btn input-block-level form-control btn-primary p-2 m-0">Signup</button>
      </div>
      <div class="row mb-3">
    <a class="nav-link text-center" aria-current="page" href="#" onclick="openTab('login-tab')">Or login</a>
    </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>